workflows/ile-ingestion-pipeline_rag-chat-automation.json
{
  "name": "rag",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyWeek"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1zeeG6AjlFJ50tAcDNZqGOCaYx5LQmnqr",
          "mode": "list",
          "cachedResultName": "guide",
          "cachedResultUrl": "https://drive.google.com/drive/folders/eeGOCaYx5LQmnqr"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        256,
        -416
      ],
      "id": "b08ad1c7-8995-4047-afbc-a2756265a34a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jZL1JOPbOulprXs8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        432,
        -416
      ],
      "id": "790f6390-babd-4b31-9890-84c2fc0274b4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jZL1JOPbOulprXs8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag",
          "mode": "list",
          "cachedResultName": "rag"
        },
        "options": {
          "pineconeNamespace": "rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        640,
        -416
      ],
      "id": "2dba77ea-73be-4997-810d-780ba7c3bb7b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "jiqSfdkiG4rxm5NR",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        800,
        -192
      ],
      "id": "0ca6e5e1-2d40-4757-936f-aae925c61655",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        816,
        -48
      ],
      "id": "fec90098-cccd-426d-8146-72ed928e8d3",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        560,
        -240
      ],
      "id": "80f7e399-fb04-4ae4-aeb0-3b028ade0cde",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "XzeXVzZagz4Tv0n1",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1568,
        -384
      ],
      "id": "62c57bfa-17bc-449f-b905-abf784ff832",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1360,
        -400
      ],
      "id": "6a8118f7-8a85-4173-9e2b-6a599c803ada",
      "name": "When chat message received",
      "webhookId": "6a0f2064-6fa0-406b-971d-5a1d499e4d2e"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "knowlege base",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag",
          "mode": "list",
          "cachedResultName": "rag"
        },
        "options": {
          "pineconeNamespace": "rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1840,
        -176
      ],
      "id": "fe803291-53c1-4925-ab9c-7cfb9e2c2ef3",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "jiqSfdkiG4rxm5NR",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1712,
        -32
      ],
      "id": "e0d4503b-6e1a-4975-a541-d1ea3f33b2eb",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "XzeXVzZagz4Tv0n1",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1488,
        -208
      ],
      "id": "d749ee0c-26e0-4a52-a3b2-71361057113e",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "XzeXVzZagz4Tv0n1",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "# File Setup and Setup pincodecone Vector Store",
        "height": 80,
        "width": 816,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        -544
      ],
      "typeVersion": 1,
      "id": "c3b270f4-355a-474e-bb62-2c4273f99271",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Rag  Automation Pipeline",
        "height": 80,
        "width": 528,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        -528
      ],
      "typeVersion": 1,
      "id": "10bc03c0-2d7b-4db6-bba2-d51669bbc2c7",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83b77228-368d-4b62-94fe-898cfef8cd3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "Ty9ul2zuzZuKmMzJ",
  "tags": []
}
